<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a href="index.html">Grupo 1 - IN6BM2</a></h1>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" routerLinkActive="activate" routerLink="/bienvenida">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#login" routerLink="/login">Iniciar Sesión</a></li>
        <li><a class="nav-link scrollto" href="#registrar" routerLink="/registrar">Registrarse</a></li>
        <li><a class="nav-link scrollto" href="#editarPerfil" routerLink="/editar-perfil">Perfil</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>