<section id="hero">
  <div class="hero-container">
    <div class="container align-items-center">
      <h4><a>Grupo 1 - IN6BM2</a></h4>
      <br>
    </div>
    <h1><b>Hotelvia</b> </h1>
    <h2>¿Deseas viajar? Primero viaja con nosotros...</h2>
    <a href="#about" class="btn-get-started scrollto" routerLinkActive="activate" routerLink="/login">Reservar Aquí</a>
  </div>
</section>

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container">
      <section id="portfolio" class="portfolio" class="call-to-action">
          <div class="section-title">
            <h2>Galeria de Imágenes</h2>
          </div>
    
          <div class="row portfolio-container">
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/hotelgaleria1.jpg" class="img-fluid" alt="">
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/hotelgaleria3.jpg" class="img-fluid" alt="">
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="../assets/hotelgaleria4.jpg" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="text-center">
            <br>
            <br>
              <h3>¿Quieres ver todos nuestros Hoteles?</h3>
              <a *ngIf="redireccionamiento() === 0" class="cta-btn" href="#" routerLink="/inicio">Click Aquí</a>
              <a *ngIf="redireccionamiento() === 1" class="cta-btn" href="#" routerLink="/usuario/inicio">Click Aquí</a>
              <a *ngIf="redireccionamiento() === 2" class="cta-btn" href="#" routerLink="/admin/inicio">Click Aquí</a>
            </div>
          </div>

    <section >
      <div class="section-title">
        <h2>¿Quienes Somos?</h2>
        <p>Hotelvia nace de la necesidad de todos para poder viajar con los mejores planes en hotelería, buscamos
          hacerte tener
          una excelente experiencia de viaje cuando de hospedaje se trata, brindandote miles de opciones y precios para
          que puedas
          escoger la que mejor se adapte a ti.
        </p>
      </div>
    </section>

