<table class="table caption-top">
  <caption>Factura - Hotelvia</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Rene</td>
      <td>Soto</td>
      <td>@rsoto2017508</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Luis</td>
      <td>Ortiz</td>
      <td>@lortiz2016328</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ricardo</td>
      <td>Paz</td>
      <td>@rpaz2017457</td>
    </tr>
  </tbody>
</table>
