.gradient-custom {
  background: #f68265;
  background: -webkit-linear-gradient(
    to right bottom,
    rgb(184, 88, 43),
    rgb(215, 97, 97)
  );
  background: linear-gradient(
    to right bottom,
    rgb(184, 88, 43),
    rgb(215, 97, 97)
  );
}

.btn-guardar {
  background-color: rgb(210, 104, 104);
  border-radius: 50px;
}
