.gradient-custom-2 {
  background: #fc9090;

  background: -webkit-linear-gradient(
    to right,
    #ee2424,
    #970c0c,
    #d51717,
    #7c3838
  );

  background: linear-gradient(to right, #a61414, #b90000, #d51717, #c64d57);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 75vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
